
   <div class=" my-container">
  <div class="title">
    <h2 class="section-header">Stay Sharp. Get ahead with Learning Paths.</h2>
  </div>
  <div class="row my-row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-col">
      <div class="article1">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/1.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
      <div class="article2">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/2.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-col">
      <div class="article1">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/3.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
      <div class="article2">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/4.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-col">
      <div class="article1">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/5.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
      <div class="article2">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/6.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 my-col">
      <div class="article1">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/7.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
      <div class="article2">
        <a class="img" href="#" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../assets/imgs/8.jpg') no-repeat;">
          <div class="info">
            <h3 class="title1">Become a data scientist</h3>
            <p class="sousTitle"><strong>Learning Path •</strong>
              48 hours
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
